<div class="logo">
  <a href="/index.html">
    <img src="/public/images/Minions_characters.png" alt="three minions" id="minions">
    <img src="/public/images/header_name.png" alt="header name" id="name">
  </a>
</div>
<div class="nav-box">
    <button id="menuBtn"><img src="/public/images/menu_banana.png" alt="banana" id="menu_banana"></button>
</div>
<nav>
  <ul id="menu">
      <a href="/index.html"><li>Home</li></a>
      <a href="/translator/index.html"><li>Translator</li></a>
      <a href="/dictionary/index.html"><li>Dictionary</li></a>
  </ul>
</nav>

