@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&family=Montserrat+Alternates:wght@300&display=swap');
:root {
    --font-body: "Montserrat Alternates", Helvetica, sans-serif;
    --font-headline: "Maven Pro", "Arial Narrow Bold", sans-serif;

    /* CSS HEX */
    --cello: #204968;
    --black-haze: #e2e4e3;
    --confetti: #fbda18;
    --pizza: #cf9b12;
    --old-copper: #794d2d;
    --bitter: #7f8178;
    --eagle: #bdbba6;
    --limed-oak: #a98253;
    --picton-blue: #4caee9;

    /* sizes */
    --font-base: 18px;
    --small-font: 0.8em;
    --large-font: 1.2em;
}

body {
    min-width: 350px;
    max-width: 1000px;
    margin: 0 auto;
    font-family: var(--font-body);
    font-size: var(--font-base);
    color: var(--dark-grey);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headline);
    color: var(--picton-blue);
    text-shadow: -1px 1.5px 0 black,
                1px 1.5px 0 black,
                1px -1px 0 black,
                -1px -1px 0 black;
}
img {
    width: 100%;
}
#main-header {
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: auto auto;
}
#minions {
    width: 25%;
}
#name {
    width: 70%;
}
.nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menuBtn {
    width: 65%;
    background-color: white;
    border: none;
    transition: width .5s;
}
#menuBtn:hover {
    cursor: pointer;
    width: 73%;
}
nav ul{
    list-style: none;
    display: none;
}
nav {
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
}
nav ul.responsive {
    display: block;
    padding: 0;
    margin: 0 0;
}
#menu a li {
    padding: 10px;
    transition: 0.5s;
    border-bottom: 1px solid var(--bitter);
    border-top: 1px solid var(--bitter);
}
#menu a li:hover {
    background-color: var(--cello);
}
#menu a{
    font-weight: 800;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px gray;
}
#menu a:hover {
    color: white;
    text-shadow: 1px 1px white;
}

#banner {
    height: 100%;
    position: relative;
}
.word-box{
    padding: 0 1em;
    border: 3px solid var(--cello);
    border-radius: 10px;
    font-size: 73%;
    position: absolute;
}
#english {
    width: 50%;
    top: 45%;
    left: 40%;
}
#minion-lan {
    width: 55%;
    top: 35%;
    left: 2%;
}
#transBtn {
    font-family: var(--font-body);
    font-weight: bold;
    position: absolute;
    width: 20%;
    height: 5%;
    top: 60%;
    left: 40%;
    background-color: var(--cello);
    color: white;
    border-radius: 10px;
}
#transBtn:hover {
    background-color: var(--confetti);
    color: black;
    transition: .5s;
    cursor: pointer;
}
.typed {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 2s steps(30, end) forwards, blinking 1s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: black}
    100% {border-right-color: transparent}
}

.bananas {
    display: flex;
    justify-content: space-around;
}
.banana {
    width: 10%;
}

#main-footer {
    padding: 5px;
    text-align: center;
    background-color: var(--cello);
    color: var(--black-haze);
}

.divider {
    border-bottom: 2px solid var(--primary-color);
  }